<footer>
  <div class="bg-black w-100 overflow-hidden">
    <div class="container py-1 vh-1">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 text-center">
          <a href="https://x.com/abid_khairul" aria-label="Brings you to the social media platform X" class="btn btn-dark shadow rounded-circle me-3 mt-4">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="https://smart.abidkhairul.com/" aria-label="Brings you to the Substack newsletter" class="btn btn-dark shadow rounded-circle me-3 mt-4">
            <i class="bi bi-substack"></i>
          </a>
          <a href="https://linkedin.com/in/abidkhairul" aria-label="Brings you to the social media platform Linked In" class="btn btn-dark shadow rounded-circle me-3 mt-4">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/abid_khairul" aria-label="Brings you to the social media platform Instagram" class="btn btn-dark shadow rounded-circle me-3 mt-4">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://github.com/abid-khairul" aria-label="Brings you to the coding platform Github" class="btn btn-dark shadow rounded-circle me-3 mt-4">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
      <div class="row d-flex justify-content-center py-3">
        <div class="col-12 col-lg-10 col-xl-8 text-center">
          <p>
            Copyright &copy; {{ "now" | date: "%Y" }} Abid Khairul | 
            <a href="/privacy">Terms of Use &amp; Privacy Policy</a>
          </p>
      </div>
    </div>
  </div>
</footer>
