<nav id="navTop" class="navbar navbar-expand-lg navbar-light fixed-top bg-dark" tabindex="0">
  <div class="container">
    <a class="navbar-brand pe-4 fs-4" href="/">
      <img src="/assets/img/ak-logo.png" alt="Abid Khairul Logo" width="40" height="40">
      <span class="ms-1 fw-bolder text-light">Abid Khairul</span>
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" href="/about" aria-label="Brings you to the about page">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="https://smart.abidkhairul.com/" aria-label="Brings you to the Substack newsletter">
            Newsletter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/courses" aria-label="Brings you to the courses page">
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="https://www.blackboxthinking.com/" aria-label="Brings you to the services by Blackbox Thinking page">
            Services
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
