---
layout: default
---
    <main>
      <div class="w-100 overflow-hidden bg-gray-100" id="top">
        <div class="container position-relative">
          <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url(/assets/img/abid-profile.webp);"></div>
          <div class="row">
            <div class="col-lg-6 py-vh-6 position-relative" data-aos="fade-right">
              <h1 class="display-1 fw-bold mt-5 bento-item blue">Tech Simplified. <br/>Success Amplified.</h1>
              <h3 class="bento-item black">I help people learn and use tech to improve their businesses.</h3>
              <a href="https://smart.abidkhairul.com/" aria-label="Brings you to the Substack newsletter" class="btn btn-dark btn-xl shadow me-3 mt-4">
                Join my newsletter<br/> 
                to get started
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-2 bg-white text-light w-100 overflow-hidden">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8 text-center" data-aos="fade">
                <p class="text-secondary lead"> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-4 bg-gray-900 text-light w-100 overflow-hidden" id="about-me">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8 text-center" data-aos="fade-down">
                <p class="display-4 fw-bold mt-5">Hi, I'm Abid Khairul</p>
                <h2 class="display-6 mb-5">
                  Life is busy. Work, kids, running the household, organizing weekends. We could all do with a bit more help.
                </h2>
                <h2 class="display-6 mb-5">
                  I've build a successful tech career helping businesses streamline their tasks so that the tech take care of the boring bits leaving you with time for more interesting stuff.
                </h2>
                <h2 class="display-6 mb-5">
                  Now I'm implementing those same techniques in my own life.
                </h2>
              </div>
              <div class="col-12">
                <a href="/about" aria-label="Brings you to the about page" class="btn btn-light btn-xl shadow me-3 mt-4" data-aos="fade-up">More about me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="py-vh-5 w-100 overflow-hidden" id="ways-to-help">
        <div class="container">
          <div class="row d-flex justify-content-end">
            <div class="col-lg-12" data-aos="fade-down"><h2 class="display-4">There are three ways I can help you.</h2></div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <span class="h5 fw-lighter">01.</span>
              <h3 class="py-5 border-top border-dark">The Smart Business Blueprint Newsletter</h3>
              <p>I regularly publish my insight into how you can use tech to improve your business and lifestyle.</p>
              <a href="https://smart.abidkhairul.com/" aria-label="Brings you to the Substack newsletter" class="btn btn-dark btn-xl shadow me-3 mt-4" data-aos="fade-up">Learn more</a>
            </div>

            <div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
              <span class="h5 fw-lighter">02.</span>
              <h3 class="py-5 border-top border-dark">Digital Courses and the Accelerator Programme</h3>
              <p>I'm currently working on a number of self-paced courses and a coaching programme to help you streamline your business and life using tech.</p>
              <a href="/courses" aria-label="Brings you to the courses page" class="btn btn-dark btn-xl shadow me-3 mt-4">Learn more</a>
            </div>

            <div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600">
              <span class="h5 fw-lighter">03.</span>
              <h3 class="py-5 border-top border-dark">Built For You</h3>
              <p>I offer tech consulting bring my 25+ years of experience to your projects.</p>
              <a href="/services" aria-label="Brings you to the services page" class="btn btn-dark btn-xl shadow me-3 mt-4">Learn more</a>
            </div>
          </div>
        </div>
      </div>

      {% include cta.html %}

    </div>
  </div>
</main>
